<p id="notice"><%= notice %></p>

<p>
	<strong><%= @user.username %></strong>
</p>
<p>
	Has made <%= @user.ratings.count %> <%= "ratings".pluralize(@user.ratings.count) %> with
	an average of <%= @user.average_rating %>
</p>
<p>
	<% if @user.beer_clubs.any? %>
		Member of 
		<% @user.beer_clubs.each do |club| %>
		<%= link_to club.name, club %>
		<% end %>
	<% else %>
		Hasn't joined any clubs	yet
	<% end %>
</p>
<p>
	<strong>Ratings: </strong>
</p>

	<% @user.ratings.each do |rating| %>
      <li> 
      	<%= rating %> 
      	<% if @user == current_user %>
      		<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      	<% end %>	
      </li>
    <% end %>
<br>
<% if @user == current_user %>
	<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to 'Change password', edit_user_path(@user) %>
<% end %>

<br><br>
<%= link_to 'Back', users_path %>
