<p id="notice"><%= notice %></p>


  <h2><%= @style.name %></h2>
  


<p>
  <strong>Description:</strong>
  <p>
  	<%= @style.description %>
  </p>
</p>
<p>
	<strong>Beers:</strong>
</p>
<% @beers.each do |beer| %>
	<% if @style.id == beer.style_id %>
		<li><%= beer.name %></li>
	<% end %>
<% end %>

<p>
	<%= link_to 'Edit', edit_style_path(@style) %> |
	<%= link_to 'Back', styles_path %>
</p>